
<%- include('header') %>    
    
<div class="col-md-12">
<table class="table table-striped">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Avatar</th>
    <th scope="col">Name</th>
    <th scope="col">Link</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody>
<% arraySinger.forEach(Singer => { %>
<tr>
<th scope="row"><%- Singer.id%></th>
<td><img src="<%- Singer.avatar %>" alt="<%- Singer.name %>" class="img-fluid"></td>
<td><%- Singer.name %></td>
<td><a href="<%- Singer.link%>"><%- Singer.link%></a></td>
<td>
<button type="button" class="btn btn-primary">Update</button>
<button type="button" class="btn btn-warning">Delete</button>
</td>
</tr>
<%} ) %>  
</tbody>
</table>        
</div>
<%- include('footer')%>
